*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
.container{
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkturquoise;
    flex-direction: column;
}
.container h2{
    font-size: 30px;
    color: firebrick;
}
#core_concept{
    width: 50%;
    padding: 20px;
    background-color: darkolivegreen;
    box-shadow: 2px 2px 3px 10px gray;
    margin-top: 20px;
}
#core_concept ul{
    display: flex;
    justify-content: center;
    height: fit-content;
    align-items: baseline;
}
.selectdtopic{
    width: 30%;
    text-align: left;
    padding: 10px;
    background-color: rgb(0, 77, 79);
    margin-top: 10px;
    border-radius: 2px;
    height: 200px;
    color: white;
}
.selectdtopic h3{
    font-size: 35px;
    color: white;
    margin-block: 10px;
}
.selectdtopic h6{
    font-size: 20px;
    margin-block: 10px;
}
.active{
    background-color: aqua;
}